[run]
branch = True
omit =
    */migrations/*
		apps.py
		urls.py
		asgi.py
		wsgi.py
		admin.py
		manage.py
		*/settings/*
		conftest.py
		__init__.py
		*/tests/*
		tests.py
[html]
directory = reports/coverage
# .coveragerc



[report]
exclude_also =
    def __repr__
		def __str__